@model EnglishWords.Models.Word
@{
    ViewData["Title"] = "Login";
}

<section class="page-section" id="contact" style="margin-top: 100px;">
    <div class="container">

        <!-- Contact Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">ADD A WORD</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <form asp-action="AddWord" method="POST">
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label asp-for="word_en">KELİME</label>
                            <input asp-for="word_en" class="form-control" placeholder="İNGİLİZCE KELİME" required="required" data-validation-required-message="Please enter your username." />
                            <p class="help-block text-danger"></p>
                            <span asp-validation-for="word_en" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls mb-0 pb-2">
                            <label asp-for="word_tr">TÜRKÇE KARŞILIĞI</label>
                            <input asp-for="word_tr" class="form-control" placeholder="TÜRKÇE KARŞILIĞI" required="required" data-validation-required-message="Please enter your password." />
                            <p class="help-block text-danger"></p>
                            <span asp-validation-for="word_tr" class="text-danger"></span>
                        </div>
                    </div>
                    <br />
                    <div id="success"></div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-xl" id="sendMessageButton" type="submit">LOGIN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>