@using Microsoft.AspNetCore.Http;
@model List<Word>
@{
    ViewData["Title"] = "TRANSPORTATION";
}
<div class="container" style="margin-top: 175px;">
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">TRANSPORTATION</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    @if (Context.Session.GetString("Username") != null)
    {
        <div class="divider-custom">
            <div class="divider-custom-icon"><a href="/Word/AddWord/6" class="btn btn-primary btn-xl">Kelime Ekle</a></div>
        </div>
    }

    @if (Model.Count != 0)
    {
        <table class="table text-center" style="margin-bottom:100px;">
            <thead style="background:#1abc9c;">
                <tr>
                    <th scope="col">
                        Kelime
                    </th>
                    <th scope="col">
                        Karşılığı
                    </th>
                    <th scope="col">
                        Ekleyen
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>

                    <td scope="row">
                        <a href="/Word/Detail/@item.Id">
                            @Html.DisplayFor(modelItem => item.word_en)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.word_tr)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>
                    @if (Context.Session.GetString("Role") == "True")
                    {
                        <td>
                            <a href="/Word/DeleteWord/@item.Id"><img src="~/images/trash.png" alt=""></a>
                            <a href="/Word/UpdateWord/@item.Id"><img src="~/images/arrow.png" alt=""></a>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger text-center" style="margin-top:100px;">Henüz kelime eklemediniz.</div>
    }


</div>